{% extends 'users/base.html' %}
{% block albums_activate %}{% endblock albums_activate %}
{% block title %}Login{% endblock title %}
{% block body %}

<div class="container p-4">
    <div class="row">
        {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
        {% load crispy_forms_tags %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    {{ form|crispy }} 
                
                    <center>
                        <button type="submit" class="btn btn-success">Sign In</button>

                    </center>

            </form>
            <div class="my-1">
                    Need an account? <a href={% url 'register' %}>Sign Up</a>
            </div>

    </div>
</div>

{% endblock body%}
